{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
{% if request.method=='GET' %}

    <form action="/quote" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="quote" name="quote" placeholder="Symbol" type="text">
        </div>

        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
{% elif request.method=='POST' %}
<p>A share of {{stock.name}} ({{stock.symbol}}) costs {{usd(stock.price)}}</p>
{% endif %}
{% endblock %}
